# --- 数据库配置 (PostgreSQL) ---
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_DB=postgres_db

# --- 对象存储配置 (MinIO) ---
MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=minio_pass
MINIO_BUCKET_NAME=bakabooru_bucket