# IDE files
.idea
*.iml
.vscode

# env files
.env
.env.local
.env.*.local

# build files
/data/
/backend/web_service/src/main/resources/static/
/backend/web_service/target
/backend/ai_service/build/tagger/
/backend/ai_service/build/
/frontend/.vite/
/frontend/node/
/frontend/node_modules/
/frontend/dist/

#data files
/backend/ai_service/model_cache/