# === 基础依赖 ===
numpy
pillow
huggingface_hub
pydantic
pydantic-settings
uvicorn
fastapi
python-multipart

# === ONNX Runtime ===
onnxruntime-gpu

# === Transformers===
transformers

# === MinIO ===
minio
