# === 基础依赖 ===
numpy
pillow
huggingface_hub
pydantic
pydantic-settings
uvicorn
fastapi

# === ONNX Runtime ===
onnxruntime

# === LangChain ===
langchain-core
langchain-openai
langchain-community
fastembed

# === 数据库 ===
psycopg2-binary
pgvector

# === Transformers===
transformers

# === MinIO ===
minio
