numpy
pillow
onnxruntime
huggingface_hub
langchain-core
langchain-openai
langchain-huggingface
pydantic
uvicorn
fastapi
pydantic-settings
langchain-postgres
psycopg2-binary
pgvector
fastembed
langchain-community
