numpy
pillow
onnxruntime
huggingface_hub
langchain-core
langchain-openai
langchain-community
langchain-huggingface
pydantic
uvicorn
fastapi
hf_xet
pydantic-settings
pyinstaller
torchvision
langchain-community
langchain-postgres
psycopg2-binary
pgvector
